<div>
  <%= render partial: "vibrations/vibration", collection: @vibration_activities_data[:vibration_activities], as: :vibration_presenter %>
</div>
<script>
  document.getElementById('dashboard-vibrations').dataset.nextPage = '<%= vibration_activities_data[:next_page] %>';
  document.getElementById('dashboard-vibrations').dataset.lastPage = '<%= vibration_activities_data[:last_page] %>';
</script>
